@import "mixins";
.gpu-section-title {
	width: 100%;
	background: $belizehole;
	position: relative;
	z-index: 100;
	color: white;
	h2 {
		font-family: 'Fjalla One', sans-serif;
		font-size: 3.2rem;
		text-transform: uppercase;
    margin: 2rem 0 0;
	}
  p {

  }
}

.gpu-section {
	@include make-row();
}

.chart {
	@include make-sm-column(6);
	margin: 2rem 0;
	.chart-title {
		font-family: 'Fjalla One', sans-serif;
		font-size: 2.2rem;
	}
	.chart-bar {
		width: 100%;
		height: 5rem;
		margin: 0 0 1rem;
		background: $clouds;
		position: relative;
		.chart-bar-fill {
			position: absolute;
			width: 100%;
			height: 5rem;
			background: $concrete;
			z-index: 2;
      &.top-card {
        background: $sunflower;
        &:hover {
          background: $orange;
        }
      }
			&:hover {
				background: $peterriver;
			}
      .chart-bar-gpu {
        color: white;
        font-weight: bold;
        float: left;
        margin: 1.25rem 2rem;
        display:block;
      }
      .chart-bar-value {
        color: white;
        font-weight: bold;
        float: right;
        margin: 1.25rem 2rem;
        display:block;
      }
		}
	}
}
