.search {
  height: 60vh;
  //background: #eceff1;
  background: #263238;
  //opacity: .92;
  h1 {
    color: white;
    font-size: 2.59rem;
    line-height: 1.2em;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 200;
  }
  input[type=search] {
    margin: 0;
    border: 0;
    padding: .25rem 0 .25rem 1rem;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
}
